.page-link {
  color: #00d3fd;
  text-decoration: none;
  border: 0.5px #00d3fd solid;
  border-radius: 5px;
  background-color: #3e424e;
  width: 25px;
  height: 25px;
  transition: all linear 0s;

  &:hover {
    color: #eeff00;
    border: 1px #eeff00 solid;
  }

  &:active {
    transform: scale(0.9);
    background-color: #1dd9ff;
    color: #3e424e;
  }
}