.main {
  width: 100%;
  max-width: 1900px;
}

.card-collection {
  padding: 2rem 0;
}

.collection {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.search-form {
  margin: 0 auto;
  padding: 1rem 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 300px;
}

.search-input {
  appearance: none;
  padding: 5px;
  width: 250px;
  height: 30px;
  color: #fff;
  background-color: #20202000;
  border: none;
  border-bottom: 3px solid #00c5d7;
}

.btn {
  padding: 0.3em;
  background-color: #f3f3f300;
  font-weight: 700;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  transition: all linear 0.2s;
}

#searchBtn {

  &::before {
    content: url("../../../public/search-alt-2-whitesvg.svg");
  }

  &:hover {
    color: #ffffff;
  }

  &:active {
    transform: scale(0.9);
  }
}

#resetBtn {
  position: absolute;
  right: 2rem;

  &::after {
    content: url("../../../public/close-sm-white.svg");
  }
}

.error-btn {
  position: absolute;
  top: 1em;
  right: 1em;
  padding: 0.5em 1em;
  background-color: #aa0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all linear 0.3s;

  &:active {
    transform: scale(0.9);
  }
}

.collection-message {
  color: #00dc1d;
}

.collection-content {
  display: flex;
}

.pagination {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
