.flayout-container {
  padding: 0.5rem;
  color: #fbff00;
  background-color: #00617c;
  border-radius: 15px;
}

.buttons {
  display: flex;
  gap: 5px;
}

.btn-selected-control {
  padding: 5px 10px;
  background-color: #02da31;
  color: #000;
  border: none;
  border-radius: 5px;
}